<div class="row">
  <div class="col-12" *ngFor="let notification of notificationQueue">
    <div class="alert" [ngClass]="notification.notificationTypeClass" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">{{notification.notificationHeading}}</h4>
      <p>{{notification.notificationBody}}</p>
      <hr *ngIf="notificationAddition">
      <p class="mb-0">{{notification.notificationAddition}}</p>
    </div>
  </div>
</div>