<div class="row">

  <div class="col-0 col-lg-4"></div>

  <!-- Login form -->
  <div class="col-12 col-lg-4 login-form"
    *ngIf="!showRegisterForm && !showForgotPasswordForm && !showForgotPasswordRecoveryForm">
    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <form (submit)="loginAction()">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)]="loginDetails.email" [ngModelOptions]="{standalone: true}" type="email" id="inputEmail"
        class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="loginDetails.password" [ngModelOptions]="{standalone: true}" type="password"
        id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="forgot-password">
        <a [routerLink]="login" (click)="forgotPassword()">Forgot password?</a>
      </div>
      <div class="login-buttons">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        <button class="btn btn-lg btn-secondary btn-block" (click)="register()">Register</button>
      </div>
    </form>
  </div>

  <!-- Register form -->
  <div class="col-12 col-lg-4 login-form" *ngIf="showRegisterForm">
    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">
      <button type="button" class="btn button-back" (click)="goBackToLogin()"><i
          class="far fa-arrow-alt-circle-left"></i></button>
      Please register
    </h1>
    <form (submit)="registerAction()">
      <label for="inputName" class="sr-only">Name</label>
      <input [(ngModel)]="loginDetails.name" [ngModelOptions]="{standalone: true}" type="test" id="inputName"
        class="form-control" placeholder="Name" required autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)]="loginDetails.email" [ngModelOptions]="{standalone: true}" type="email" id="inputEmail"
        class="form-control" placeholder="Email address" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="loginDetails.password" [ngModelOptions]="{standalone: true}" type="password"
        id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputCPassword" class="sr-only">Confirm password</label>
      <input [(ngModel)]="loginDetails.c_password" [ngModelOptions]="{standalone: true}" type="password"
        id="inputCPassword" class="form-control" placeholder="Confirm password" required>
      <div class="login-buttons">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
      </div>
    </form>
  </div>

  <!-- Request reset password form -->
  <div class="col-12 col-lg-4 login-form" *ngIf="showForgotPasswordForm">
    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">
      <button type="button" class="btn button-back" (click)="goBackToLogin()"><i
          class="far fa-arrow-alt-circle-left"></i></button>
      Reset your password
    </h1>
    <form (submit)="forgotPasswordAction()">
      <p>
        Please enter your email address!
      </p>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)]="loginDetails.email" [ngModelOptions]="{standalone: true}" type="email" id="inputEmail"
        class="form-control" placeholder="Email address" required>
      <div class="login-buttons">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Reset password</button>
      </div>
    </form>
  </div>

  <!-- Reset your password form -->
  <div class="col-12 col-lg-4 login-form" *ngIf="showForgotPasswordRecoveryForm">
    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">
      Reset your password
    </h1>
    <form (submit)="forgotPasswordRecoveryAction()">
      <p>
        Please enter your email address and your new password twice!
      </p>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)]="loginDetails.email" [ngModelOptions]="{standalone: true}" type="email" id="inputEmail" class="form-control"
        placeholder="Email address" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="loginDetails.password" [ngModelOptions]="{standalone: true}" type="password" id="inputPassword" class="form-control"
        placeholder="Password" required>
      <label for="inputCPassword" class="sr-only">Confirm password</label>
      <input [(ngModel)]="loginDetails.c_password" [ngModelOptions]="{standalone: true}" type="password" id="inputCPassword" class="form-control"
        placeholder="Confirm password" required>
      <div class="login-buttons">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Reset password</button>
      </div>
    </form>
  </div>
</div>