<div class="wrapper"
  *ngIf="!authenticated && this.authenticationService.houseData.id && !this.router.url.startsWith('/login')">
  Loading...
</div>

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="{active: showSidebar}" *ngIf="this.authenticationService.houseData.id && authenticated">
    <div class="sidebar-header">
      <img class="float-left rounded-circle sidebar-profile-image" src="assets/user.jpg" />
      <div class="sidebar-profile-info align-middle">
        <span class="sidebar-profile-info-text">{{ this.authenticationService.houseData.name }}</span>
        <br>
        <span class="sidebar-profile-info-text">{{ this.authenticationService.userData.name }}</span>
      </div>
    </div>

    <ul class="components">
      <li>
        <a routerLink="home" routerLinkActive="active"><i class="fas fa-home fa-fw"></i> Home</a>
      </li>
      <li>
        <a routerLink="beer" routerLinkActive="active"><i class="fas fa-beer fa-fw"></i> Beer</a>
      </li>
      <li>
        <a routerLink="tasks" routerLinkActive="active"><i class="fas fa-tasks fa-fw"></i> Tasks</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content" [ngClass]="{active: showSidebar}">

    <nav class="navbar navbar-expand navbar-light bg-light" *ngIf="authenticated">
      <div class="container-fluid">

        <button type="button" (click)="toggleSidebar()" class="btn" *ngIf="this.authenticationService.houseData.id">
          <i *ngIf="showSidebar" class="fas fa-arrow-right"></i>
          <i *ngIf="!showSidebar" class="fas fa-arrow-left"></i>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item my-profile-button">
              <button (click)="goToMyProfile()" type="button" class="btn">
                <i class="fas fa-user"></i>
                <span class="d-none d-md-inline"> My profile</span>
              </button>
            </li>
            <li class="nav-item my-profile-button">
              <button (click)="goToMyStudentHouse()" type="button" class="btn">
                <i class="fas fa-home"></i>
                <span class="d-none d-md-inline"> MyStudentHouse</span>
              </button>
            </li>
            <li class="nav-item">
              <button (click)="logOutAction()" type="button" class="btn btn-secondary">
                <i class="fas fa-sign-out-alt"></i>
                <span> Log out</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container component-container">
      <!-- Notification component -->
      <app-notification></app-notification>
      <!-- Router outlet -->
      <router-outlet></router-outlet>
    </div>

  </div>
</div>