<div class="row">
  <div class="col-12">
    <h2>Choose or create your student house</h2>
  </div>

  <div class="col-12 col-md-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Join an existing student house</h5>
        <p class="card-text">
          All members of the student house will receive an email,
          where they confirm that you belong to the student house.
        </p>
        <div class="input-group">
          <select [(ngModel)]="selectedStudentHouse" class="custom-select" id="inputGroupSelect04"
            aria-label="Example select with button addon">
            <option *ngFor="let studentHouse of studentHouses" [ngValue]="studentHouse.id">{{studentHouse.name}}
            </option>
          </select>
          <div class="input-group-append">
            <!-- <button (click)="assignUserToStudentHouse()" class="btn btn-outline-primary" type="button">Join</button> -->
            <p style="color: red;">This option is currently disabled. Add a new user in your MyStudentHouse option.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create a new student house</h5>
        <p class="card-text">Create your own student house. You can add a description, picture and other awesome stuff
          in your house settings.</p>
        <div class="input-group mb-3">
          <input [(ngModel)]="createNewStudentHouseName" type="text" class="form-control"
            placeholder="Name of your student house" aria-label="Name of your student house"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button (click)="createStudentHouse()" class="btn btn-outline-secondary" type="button"
              id="button-addon2">Create</button>
          </div>
        </div>
        <div class="input-group">
          <textarea [(ngModel)]="createNewStudentHouseDescription" class="form-control" placeholder="Description (optional)"
            aria-label="Description (optional)"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>